.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 550px;
}
@media (min-width: @768px ) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
       
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
      
    }
}